body {
    background-image: url('https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?size=626&ext=jpg');
    font-family:Arial;
  }
  .menu{
    background-color: teal;
  }